<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UKJP
    body
        div(class='content')
            div(class='nav-wrapper')
                nav(id="Nav", class="navigation")
                    ul(class='nav-list')
                        li(class='nav-item')
                            ukjp-button Test
            div(class='main-wrapper')
                b my app
            div(class='img-wrapper hide-on-small')
        footer(class='footer-wrapper')
            socialmedia